# TODO Only push the compiled files (& possibly docs but probably not) to NPM

# Ignore the project source code:
/migrations

# Ignore the unit tests:
/test

# Ignore all source/editing configuration files & directories:
/.*
