# Ignore all non-solidity source files & directories:
/src
/test
truffle-config.js

# Ignore example contracts:
/contracts/examples

# Ignore all source/editing configuration files & directories:
/.*
