# Ignore all non-solidity source files & directories:
/src
/test
/truffle-config.js
/migrations

# Ignore example contracts:
/contracts/examples
/build/contracts/Example*

# Ignore the GitHub Contribution Documentation:
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/PULL_REQUEST_TEMPLATE.md

# Ignore all source/editing configuration files & directories:
/.*
